.settings
.settings/*
.project
.classpath
gen
apk
apk/*
apk/android-skwissh.apk
bin
bin/*
bin/android-skwissh.apk
bin/android-skwissh.apk
bin/classes.dex
bin/resources.ap_
*.class
lint.xml

# Package Files #
*.jar
*.war
*.ear
