<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saikali.android_skwissh"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name=".ServersListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_servers_list"
            android:hardwareAccelerated="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ServerDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server_detail" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>